{% extends "base.html.twig" %}

{% block h1 %}Ajoutez des avions{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
     {% for message in messages %}
          <div class="flash-{{ label }}">
               {{ message }}
          </div>
     {% endfor %}
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.places) }}

    <button type="submit">Enregistrez</button>
{{ form_end(form) }}



{% endblock %}