{% extends "base.html.twig" %}

{% block h1 %}Toute nos destination{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
     {% for message in messages %}
          <div class="flash-{{ label }}">
               {{ message }}
          </div>
     {% endfor %}
{% endfor %}

<div class="destiantion">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom de la destination</th>
      <th scope="col">Avion utilisé</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for destination in destinations %}  
    <tr>
      <td>{{ destination.nomDeLaDestination }}</td>
      <td>
        {% for avion in destination.avions %}
          {{ avion.nom }}
          {% if not loop.last %}, {% endif %}  
        {% endfor %}
      </td>
      <td>
        <a href="{{ path('modifiez_destionation', {'id': destination.id}) }}">Modifier</a> / <a href="{{ path('view_destination', {'id': destination.id}) }}">Afficher la destination</a> {{ include ('destination/delete_destinations.html.twig')}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}